body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f7f1e8;
  color: #111;
}

/* NAV */
nav {
  padding: 30px;
  text-align: center;
}

.logo {
  font-family: 'Cormorant Garamond', serif;
  font-size: 32px;
  text-decoration: none;
  color: #111;
}

/* HERO */
.hero {
  height: 80vh;
  background-image: url("cellentialsN1image.JPG");
  background-size: cover;
  background-position: center;
}

/* PRODUCT */
.product {
  padding: 80px 20px;
}

.product-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.product-image img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  max-width: 400px;
}

.product-info h2 {
  font-size: 50px;
}

.buy-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: black;
  color: white;
  text-decoration: none;
}

/* ABOUT */
.about {
  padding: 80px 20px;
  text-align: center;
}

/* ORDER */
.order {
  background: #111;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 12px;
}

button {
  padding: 12px;
  background: #e7dccd;
  border: none;
}

/* FOOTER */
.footer {
  background: #111;
  color: #eee;
  padding: 60px 20px;
}

.footer-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-column a {
  display: block;
  color: #ccc;
  margin-bottom: 8px;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
}

/* MOBILE */
@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
